.button-page-template button {
    margin-bottom:8px;
    width:176px;
    text-align:left;
}
.button-page-widget-column 
{
    margin-left:6px;
    width:49%;
    float:left;
    white-space: nowrap; 
    overflow:hidden;
}